[submodule "source/source/quelora-api"]
	path = source/source/quelora-api
	url = https://github.com/Quelora/quelora-api.git
[submodule "source/quelora-api"]
	path = source/quelora-api
	url = https://github.com/Quelora/quelora-api.git
[submodule "source/quelora-dashboard"]
	path = source/quelora-dashboard
	url = https://github.com/Quelora/quelora-dashboard.git
[submodule "source/quelora-client"]
	path = source/quelora-client
	url = https://github.com/Quelora/quelora-client.git
[submodule "source/quelora-demo"]
	path = source/quelora-demo
	url = https://github.com/Quelora/quelora-demo.git
[submodule "quelora/packages/quelora-common"]
	path = quelora/packages/quelora-common
	url = https://github.com/Quelora/quelora-common.git
[submodule "quelora/packages/quelora-public-api"]
	path = quelora/packages/quelora-public-api
	url = https://Quelora@github.com/Quelora/quelora-public-api.git
