services:
  nginx:
    image: nginx:alpine
    container_name: nginx-reverse-proxy
    ports:
      - "443:443"
      - "444:444"
      - "445:445"
      - "446:446"
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certs:/etc/nginx/certs:ro
      - ./quelora-storage/assets:/usr/src/app/packages/quelora-public-api/public/assets:ro
    ulimits:
          nofile:
            soft: 65535
            hard: 65535
    sysctls:
      - net.core.somaxconn=4096
    depends_on:
      - app
      - app-dashboard
      - demo
      - dashboard
    networks:
      - docker-network

  dashboard:
    image: node:20-alpine
    container_name: dashboard
    working_dir: /usr/src/app
    volumes:
      - ./source/quelora-dashboard:/usr/src/app
      - dashboard_node_modules:/usr/src/app/node_modules
      - ./utils/tree.js:/usr/src/app/tree.js:ro
    command: sh -c "npm install && npm run start"
    expose:
      - "3002"
    environment:
      - NODE_ENV=development
      - HOST=0.0.0.0
      - PORT=3002
      - CHOKIDAR_USEPOLLING=true
      - WDS_SOCKET_PROTOCOL=ws
    networks:
      - docker-network

  mailcrab:
    image: marlonb/mailcrab
    ports:
      - 1080:1080
    networks:
      - docker-network

  postfix:
    image: juanluisbaptiste/postfix
    environment:
      - SMTP_SERVER=mailcrab
      - SMTP_PORT=1025
      - SERVER_HOSTNAME=mail.localhost
    ports:
      - 1025:25
    networks:
      - docker-network

  demo:
    image: node:20-alpine
    container_name: node-demo
    working_dir: /usr/src/app
    volumes:
      - ./source/quelora-demo:/usr/src/app
      - ./source/quelora-client:/usr/src/app/quelora:rW
      - demo_node_modules:/usr/src/app/node_modules
      - ./utils/tree.js:/usr/src/app/tree.js:ro
    command: sh -c "npm install && npx nodemon run.js"
    expose:
      - "3001"
    environment:
      - NODE_ENV=development
    networks:
      - docker-network
    depends_on:
      - redis

  app:
    container_name: quelora-api
    build:
      context: ./quelora 
      dockerfile: Dockerfile.api
    volumes:
      - ./quelora/packages/quelora-public-api:/usr/src/app/packages/quelora-public-api
      - ./quelora/packages/quelora-common:/usr/src/app/packages/quelora-common
      - ./quelora/packages/quelora-enterprise:/usr/src/app/packages/quelora-enterprise
      - ./utils/tree.js:/usr/src/app/tree.js:ro
      - app_monorepo_node_modules:/usr/src/app/node_modules
      - ./quelora-storage/assets:/usr/src/app/packages/quelora-public-api/public/assets
      - ./quelora-storage/geoip:/data/geoip:ro
    env_file:
      - ./quelora/packages/quelora-public-api/.env
    command: sh -c "npm install && npx nodemon app.js" 
    expose:
      - "3000"
    ulimits:  
      nofile:
        soft: 65535
        hard: 65535
    environment:
      - NODE_ENV=development
    networks:
      - docker-network 
    depends_on:
      - redis
      - mongo 

  app-dashboard:
    container_name: quelora-dashboard-api
    build:
      context: ./quelora
      dockerfile: Dockerfile.dashboard-api
    volumes:
      - ./quelora/packages/quelora-dashboard-api:/usr/src/app/packages/quelora-dashboard-api
      - ./quelora/packages/quelora-common:/usr/src/app/packages/quelora-common
      - ./quelora/packages/quelora-public-api:/usr/src/app/packages/quelora-public-api
      - ./quelora/packages/quelora-enterprise:/usr/src/app/packages/quelora-enterprise
      - ./utils/tree.js:/usr/src/app/tree.js:ro
      - app_monorepo_node_modules:/usr/src/app/node_modules
    env_file:
      - ./quelora/packages/quelora-dashboard-api/.env 
    command: sh -c "npm install && npx nodemon app.js"
    expose:
      - "3010"
    environment:
      - NODE_ENV=development
    networks:
      - docker-network
    depends_on:
      - redis
      - mongo

  worker:
    container_name: quelora-worker
    build:
      context: ./quelora
      dockerfile: Dockerfile.worker
    volumes:
      - ./quelora/packages/quelora-worker:/usr/src/app/packages/quelora-worker
      - ./quelora/packages/quelora-common:/usr/src/app/packages/quelora-common
      - app_monorepo_node_modules:/usr/src/app/node_modules

      - ./quelora-storage/assets:/usr/src/app/packages/quelora-public-api/public/assets
      - ./quelora-storage/geoip:/data/geoip
    env_file:
      - ./quelora/packages/quelora-public-api/.env
    command: sh -c "npm install && npx nodemon index.js"
    environment:
      - NODE_ENV=development
      - CACHE_REDIS_URL=redis://redis-internal:6379
    networks:
      - docker-network
    depends_on:
      - redis
      - mongo

  jobs:
    container_name: quelora-jobs
    build:
      context: ./quelora
      dockerfile: Dockerfile.jobs
    volumes:
      - ./quelora/packages/quelora-jobs:/usr/src/app/packages/quelora-jobs
      - ./quelora/packages/quelora-common:/usr/src/app/packages/quelora-common
      - app_monorepo_node_modules:/usr/src/app/node_modules
    env_file:
      - ./quelora/packages/quelora-public-api/.env
    command: sh -c "npm install && npx nodemon packages/quelora-jobs/index.js"
    environment:
      - NODE_ENV=development
      - CACHE_REDIS_URL=redis://redis-internal:6379 
      - MONGO_URI=mongodb://mongo_db:27017/quelora
    networks:
      - docker-network
    depends_on:
      - redis
      - mongo

  redis:
    image: redis:alpine
    container_name: redis-internal
    ports:
      - "6378:6379"
    networks:
      - docker-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 3

  mongo:
    image: mongo:4.4.0
    container_name: mongo_db
    ports:
      - "27018:27017"
    volumes:
      - ./mongo:/data/db
    networks:
      - docker-network

volumes:
  app_monorepo_node_modules:
  demo_node_modules:
  dashboard_node_modules:

networks:
  docker-network:
    driver: bridge
    attachable: true